@rootcloud:registry=https://nexus.rootcloudapp.com/repository/npm-releases/
//nexus.rootcloudapp.com/repository/npm-releases/:_authToken=NpmToken.970d84c0-2aa6-356b-a790-1966037b8dca
registry=https://registry.npmmirror.com/
save-exact=true
always-auth=true
CYPRESS_INSTALL_BINARY=https://npmmirror.com/mirrors/cypress/4.8.0/linux/cypress.zip
